<!DOCTYPE html>
<html>
    <head>
        <title> Smarter hub </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- typeface adobe  -->
        <link rel="stylesheet" href="https://use.typekit.net/wky5wfx.css">
        <!-- google Material icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
       
      <!-- link javascript file  -->
        <scripr src = 'data.js'></scripr>
       
       <!-- side navigation   -->
        <div class="sidenav">
          <!-- logo -->
          <img class="logo"src="/images/logo.png" alt="openworks logo" width="99.04px" height="28.52px">  
          <!-- vertical line  -->
          <div class="vl"></div>
          <!-- smarthub image  -->
          <img class="logoTwo" src="/images/SmartHub.png" alt="smart hub openworks logo" width="77.35px" height="13.18px"> 

          <ul class="sidenav-links">
            <li class="sidenav-item"><a class="nav-link active" href="#"><span class="icon material-icons">campaign</span> <span class="link-text">Social Media</span></a></li>
            <li class="sidenav-item"><a class="nav-link" href="#"><span class="icon material-icons">settings</span> <span class="link-text">Calendar</span></a></li>
            <li class="sidenav-item"><a class="nav-link" href="#"><span class="icon material-icons">flag</span> <span class="link-text">Activity Log</span></a></li>
            <li class="sidenav-item"><a class="nav-link" href="#"><span class="icon material-icons">show_chart</span> <span class="link-text">Support</span></a></li>
       
            <!-- side nav horizontal line  -->
            <hr style="width:280px;  padding-bottom: 40px; border-left: none; border-bottom: none; border-right: none;"  > 
            
            <li class="sidenav-item"><a class="nav-link" href="#"><span class="icon material-icons">flag</span> <span class="link-text">Back to Home</span></a></li>
            <li class="sidenav-item"><a class="nav-link" href="#"><span class="icon material-icons">import_contacts</span> <span class="link-text">Marketing Updates</span></a></li>
            <li class="sidenav-item"><a class="nav-link" href="#"><span class="icon material-icons">flag</span> <span class="link-text">Products</span></a></li>

            <p>James Oakwood</p>
            <p id="pinkText">Log Out</p>
          </ul>

            
          
            
            
            <!-- <p>James Oakwood</p>
            <p id="pinkText">Log Out</p> -->
          
          </div>
                      
          <!---------- navy header banner --------->
          <div class="headerBanner">
            <p>Banner option update the user or inform them how to use this specific page</p>
            </div>
          </div>

        <!-- main page  -->
        <div class="main">

          <!-- search bar -->
              <div class="wrap">
                <div class="search">
                  <input type="text" class="searchTerm" placeholder="Try searching for Materials?">
                  <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
              
            <h2>Social Media</h2>
            
              <!--------- top navigation menu  ---------->
              <div class="topnav">
                <a href="#all">All</a>
                <a href="#general">General</a>
                <a href="#morgages">Mortgages</a>
                <a href="#insurance">Insurance</a>
                <a href="#investment">Investment</a>
                <a href="#protection">Protection</a>
                <a href="#budgets">Budget and Statements</a>

                <!-- line  -->
                <hr>
              </div>
            
            
           
            <div class="content">

            <!-- social media images  -->
            <div class="post">
            <img src="/images/img1.png" alt="openworks logo" width="331px" height="331px">
            <img src="/images/img2.png" alt="openworks logo" width="331px" height="331px">
            <img src="/images/img2.png" alt="openworks logo" width="331px" height="331px">
            <img src="/images/img1.png" alt="openworks logo" width="331px" height="331px">
            <img src="/images/img2.png" alt="openworks logo" width="331px" height="331px">
            <img src="/images/img2.png" alt="openworks logo" width="331px" height="331px">
            </div>

              
            <p>This sidebar is of full height (100%) and always shown.</p>
            <p>Scroll down the page to see the result.</p>
            <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
            </div>
        
        </div>

    </body>
</html>